@*// the model below is for collecting data on this page, it is not passed from the Create Action method in the Category Controller*@
@model CoverType

@*// here in the form tag if we don't specify asp-action="Edit" it will submit to the same Action where it came from, in this case Edit'*@
<form method="post" asp-action="Delete">
	<input asp-for="Id" hidden />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Delete Cover Type</h2>
			<hr />
		</div>
		<div asp-validation-summary="All"></div>
		<div class="mb-3">
			@*// retrieves Name from the Category model*@
			<label asp-for="Name"></label>
			<input asp-for="Name" disabled class="form-control" />
		</div>
		
		<button type="submit" class="btn btn-danger" sytle="width:150px">Delete</button>
	
		<a asp-controller="CoverType" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to List</a>

	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
